.animated-image{
    &__wrapper{
        position: relative;
        padding-top: 90%;
        overflow: hidden;
    }

    &__image{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &__overlay{
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background: #333;
        z-index: 3;
    }
}