.heading-section{
    &__wrapper, &__wrapper-baru{
        font-size: 50px;
        font-weight: bolder;
        visibility: hidden;
        margin-bottom: 35px;
    }

    &__item{
        overflow: hidden;

        span{
            display: inline-block;
        }
    }
}